<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>groups</key>
	<array>
		<dict>
			<key>type</key>
			<integer>0</integer>
			<key>address</key>
			<string></string>
			<key>dhtPublicKey</key>
			<string></string>
			<key>host</key>
			<string></string>
			<key>port</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>offlines</key>
	<array>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>address</key>
			<string></string>
			<key>dhtPublicKey</key>
			<string></string>
			<key>host</key>
			<string></string>
			<key>port</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>findFriends</key>
	<array>
		<dict>
			<key>type</key>
			<integer>2</integer>
			<key>address</key>
			<string></string>
			<key>dhtPublicKey</key>
			<string></string>
			<key>host</key>
			<string></string>
			<key>port</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>type</key>
			<integer>3</integer>
			<key>address</key>
			<string></string>
			<key>dhtPublicKey</key>
			<string></string>
			<key>host</key>
			<string></string>
			<key>port</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
